<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Agent</title>


<!-- Bootstrap -->
<link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="css/styles/layout.css" rel="stylesheet" type="text/css" />


</head>
<body id="top">
	<div class="wrapper row1">
		<header id="header" class="clear">
			<!-- ################################################################################################ -->
			<div id="logo">
				<h1>
					<a href="index.html">eNsurance.lk</a>
				</h1>
				<p>Get your Insurance cheap</p>
			</div>
		</header>
	</div>


	<div class="row">
		<div class="col-md-2">
			<!-- Hold the letf area -->
		</div>

		<div class="col-md-8">

			<div class="col-xs-12" style="height: 50px;"></div>
				<h3>Agent registration</h3>
			<div class="col-xs-12" style="height: 50px;"></div>

			<form class="form-horizontal" role="form" th:action="@{/agentRegister}">

				<div class="form-group">
					<label class="control-label col-sm-2" for="firstName">First
						name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="firstName"
							placeholder="Enter first name" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="lastName">Last
						name:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="lastName"
							placeholder="Enter last name" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="dateOfBirth">Date
						of birth:</label>
					<div class="row">
						<div class="col-sm-1">
							<input type="text" class="form-control" id="day" />
						</div>
						<div class="col-sm-1">
							<input type="text" class="form-control" id="month" />
						</div>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="year" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="sel1">Gender :</label>
					<div class="col-sm-4">
						<div class="radio">
							<label><input type="radio" name="optradio" />Male</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="optradio" />Femalte</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Email:</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="email"
							placeholder="Enter email" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="sel1">Address :</label>
					<div class="col-sm-4">
						<textarea class="form-control" rows="5" id="comment"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Company :</label>
					<div class="col-sm-4">
						<input type="companyName" class="form-control" id="companyName"
							placeholder="Enter comapny name" />
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-sm-2" for="employeId">Employe
						Id :</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="employeId"
							placeholder="Enter employe id" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="verificationCode">Verification
						code :</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="verificationCode"
							placeholder="Enter verification code" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="pwd">Password:</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="pwd"
							placeholder="Enter password" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="confirmPassword">Confirm
						password:</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="confirmPassword"
							placeholder="Enter confirm password" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="submit" value="Submit" class="btn btn-default" /> <span>
							<a href="/" class="entypo-home"> Home</a>
						</span>
					</div>
				</div>
			</form>
		</div>

		<div class="col-md-2">
			<!-- Hold the right area -->
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>